* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

*:focus {
    outline: none;
}

#main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 40px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-div {
    background-image: url(../img/holiday-vacation-hotel-luxury.jpg);
}

#main.holiday {
    background-image: url(../img/holiday-vacation-hotel-luxury.jpg);
}

#main.wedding {
    background-image: url(../img/pexels-photo-256737.jpeg);
}

#main.birthday {
    background-image: url(../img/pexels-photo-1071882.jpeg);
}

#main > h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    width: 100%;
    border: 1ps solid transparent;
}

#main > .buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

#main > .buttons > .event-button {
    width: 200px;
    height: 40px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    flex-basis: 100%;
    transition: .4s;
}

#main > .buttons > .event-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

#main > form {
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
    padding: 20px 40px;
    text-align: right;
    margin-top: 20px;
}

#main > form > input[type="number"] {
    width: 180px;
    height: 40px;
    margin: 10px;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#main > form > input[type="number"].hour-input {
    width: 74.5px;
}

#main > form > input {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    font-weight: 500;
    padding: 5px 10px;
    text-align: center;
}

#main > form > input:focus {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#main > form > label {
    font-weight: 500;
    color: white;
    margin-right: 5%;
}

#main > form > label.colon {
    margin-right: 0;
}

#main > form > input[type="button"] {
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
    margin: 10px;
    transition: .4s;
}

#main > form > input[type="button"]:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

form.clear {
    visibility: hidden;
}

p#count {
    position: absolute;
}

p.count-add {
    width: 50%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    font-weight: 500;
    top: 50%;
    flex-basis: 100%;
    text-align: right;
    padding-right: 10%;
    line-height: 2;
}

#main > #count > span {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 28px;
    font-weight: 700;
    margin: 5px 10px;
    width: 70px;
    display: inline-block;
    text-align: center;
}


#main > h1 > i.fas {
    transition: .5s;
}

#main > h1 > i.fas:hover {
    cursor: pointer;
    transform: rotate(-360deg);
;}

@media all and (max-height: 750px) {
    #main {
        height: 100%;
    }
}

@media all and (max-width: 768px) {
    #main > form {
        width: 100%;
    }
    
    p.count-add {
        width: 80%;
    }
}

@media all and (max-width: 576px) {
    #main > form > .standard {
        display: block;
    }
}

@media all and (max-width: 355px) {
    #main > form {
        padding: 20px 5px;
    }

    #main > form > input[type="button"] {
        font-size: 20px;
        margin: 10px;
        width: 180px;
    }
    
    p.count-add {
        font-size: 20px;
    }
    
    #main > #count > span {
        font-size: 25px;
        width: 60px;
    }
}
